    <footer class="footer">
      <nav class="level">
      {%- for item in navigation.nav_items // from global data file %}
        <span class="level-item">
          <a href="{{ item.url }}" class="link is-info">{{ item.title }}</a>
        </span>
      {%- endfor %}
      </nav>
    </footer>