<footer class="footer">
  <nav class="level">
    <span class="level-item">
      <a href="/" class="link is-info">Start</a>
    </span>
    <span class="level-item">
      <a href="/produkt" class="link is-info">Produktdetails</a>
    </span>
    <span class="level-item">
      <a href="/kontakt" class="link is-info">Kontakt</a>
    </span>
    <span class="level-item">
      <a href="/impressum" class="link is-info">Impressum</a>
    </span>
    <span class="level-item">
      <a href="/datenschutz" class="link is-info">Datenschutzerklärung</a>
    </span>
  </nav>
</footer>