---
layout: base.liquid
title: Products
---
  <section class="section mb-5">
    <div class="container">

      <h3 class="title">Ihr Ansprechpartner</h3>
      <div class="columns mt-3">
        <div class="column content is-9">
          <p class="title is-size-5">Norman Beuthner</p>
          <p class="is-size-5">RocStahl Motion-Simulator</p>
          <p class="is-size-5">Produktionsingenieur mit mehr als 20 Jahren Berufserfahrung in international tätigen Unternehmen mit spezieller Ausrichtung auf Konstruktion und Automatisierungstechnik sowie zielgerichtetes Projektmanagement.</p>
        </div>
        <div class="column is-3">
          <figure class="image">
            <img class="content-image" src="/img/norman-beuthner-foto.jpg" alt="Motorsport Rennen">
          </figure>
        </div>
      </div>

    </div>
  </section>