---
layout: base.liquid
title: Homepage
---
      <section class="hero is-medium is-primary mb-5">
        <div class="hero-body" style="background-image: url('/public/rocca-racing-foto.webp'); background-position: right center; background-size: 40%; background-repeat: no-repeat;">
          <div class="container">
            <div class="columns">
              <div class="column">
                <h1 class="title is-2 is-spaced has-text-light">
                  Entdecke das ultimative Renngefühl mit dem Rocca Racing Simulator!
                </h1>
                <h2 class="subtitle is-4 has-text-light">
                  Tauche ein in die Welt des Sim-Racings und werde eins mit deinem Rennwagen wie nie zuvor. Unser Motion-Simulator bietet dir ein intensives Rennabenteuer mit körperlichem Feedback, das bisher nur echte Rennfahrer auf der Strecke erleben konnten.
                </h2>
                <a href="/kontakt" class="button is-secondary">Jetzt Katalog und Angebot anfordern</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section mb-2">
        <div class="container fixed-grid has-2-cols has-1-cols-mobile">
          <h2 class="title has-text-centered">Die herausragenden Vorteile des Rocca Racing Simulator</h2>
            <div class="grid is-col-min-16 is-gap-3">

            {% for feature in features %}
              <div class="cell">
                <div class="card">
                  <header class="card-header">
                    <h3 class="card-header-title is-centered title is-4">{{ feature.title }}</h3>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      {{ feature.description }}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor  %}

            </div>
          </div>
        </div>
      </section>
      
      <section class="section mb5">
        <div class="container">
          <div class="title is-primary has-text-centered">Wir ermöglichen realitätsnahen Motorsport in Rennsimulationen.</div>
          <div class="content has-text-black">Unsere Leidenschaft für den Motorsport und unsere technologische Expertise haben den RocStahl Motion-Simulator hervorgebracht.</div>
          <div class="content has-text-black">Wir nennen es „ROC MOTION XPERIENCE“, weil wir unsere Begeisterung für Rennsport und Innovation in jedes Detail unseres Simulators einfließen lassen.</div>
          <div class="content has-text-black">Tauche ein in die Welt des Sim-Racing wie nie zuvor und erlebe den RocStahl Motion-Simulator.</div>
          <button class="button is-primary has-text-light">Katalog anfordern</button>
        </div>
      </section>