---
layout: base.liquid
title: Homepage
---
      <section class="section hero is-primary mb-5">
        <div class="hero-body" style="background-image: url('/img/rocca-racing-foto.webp'); background-position: right center; background-size: 30%; background-repeat: no-repeat;">
          <div class="container">
            <div class="columns">
              <div class="column">
                <h1 class="title is-2 is-spaced has-text-light">
                  Entdecke das ultimative Renngefühl mit dem Rocca Racing Simulator!
                </h1>
                <h2 class="subtitle is-4 has-text-light">
                  Tauche ein in die Welt des Sim-Racings und werde eins mit deinem Rennwagen wie nie zuvor. Unser Motion-Simulator bietet dir ein intensives Rennabenteuer mit körperlichem Feedback, das bisher nur echte Rennfahrer auf der Strecke erleben konnten.
                </h2>
                <a href="/contact" class="button is-secondary">Jetzt Katalog und Angebot anfordern</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container fixed-grid has-2-cols has-1-cols-mobile">
          <h2 class="title has-text-centered">Die herausragenden Vorteile des Rocca Racing Simulator</h2>
            <div class="grid is-col-min-16 is-gap-3">
            {%- for feature in features %}
              <div class="cell">
                <div class="card">
                  <header class="card-header">
                    <h3 class="card-header-title is-centered title is-4">{{ feature.title }}</h3>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      {{ feature.description }}
                    </div>
                  </div>
                </div>
              </div>
            {%- endfor  %}
            </div>
          </div>
        </div>
      </section>
      
      <section class="section hero is-small is-link">
            <div class="hero-body is-flex is-justify-content-space-between is-align-items-center">
              <p class="title mr-3">Unser Anspruch: Wir ermöglichen realitätsnahes Erleben von Motorsport in Rennsimulationen</p>
              <a class="button is-white has-text-link has-text-weight-semibold" href="#">Mehr zu Rocca Racing Simluator</a>

            </div>
          </div>
        </div>
      </section>

      <section class="section mb-5">
        <div class="container">
          <div class="columns mt-3">
            <div class="column content is-6">
              <p class="title is-size-5">Mit unserer Technologie schaffen wir ein realistisches Fahrgefühl durch</p>
              <ul>
                <li><b>audiovisuelle</b> Wahrnehmung mit synchroner Änderungen der <b>Position</b> zur <b>Waagerechten</b></li>
                <li>spüren der Motorvibrationen und fühlen von G-Kräften beim Beschleunigen, Bremsen oder Kurvenfahren</li>
              </ul>
              <p class="title is-size-5">Unser Produkt bietet individuelle Anpassung an die Bedürfnisse der Fahrer</p>
              <ul>
                <li>Einfache Einstellmöglichkeiten von Sitz, Lenkrad und Pedalen und Softwareprofilen</li>
                <li>Kompatibilität mit der gängigen Software/ PC-Simulationen*</li>
                <li>Kompatibilität mit der am Markt vorhandenen Hardware (Sitze, Lenkrad, Pedale usw.)</li>
              </ul>
              <p class="title is-size-5">Unser Produkt hat einen modularen Aufbau durch unterschiedliche Ausbaustufen vom</p>
              <ul>
                <li>Basis-Rig (Oberteil** des Simulators ohne Motion) mit Sitz über ROC Motion-Simulator für vorhandenes eigenes Zubehör bis zum
                  Ready to Race System, komplett ausgestattet inklusive PC und allem Zubehör</li>
              </ul>
            </div>
            <div class="column is-6">
              <figure class="image is-1by1">
                <img class="content-image" src="/img/motorsport-foto.png" alt="Motorsport Rennen">
              </figure>
            </div>
          </div>
        </div>
      </section>
