---
layout: base.liquid
title: Products
---
  <section class="hero is-medium is-primary mb-5">
    <div class="hero-body" style="background-image: url('/public/rocca-racing-foto.webp'); background-position: right center; background-size: 40%; background-repeat: no-repeat;">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title is-2 is-spaced has-text-light">
              Entdecke das ultimative Renngefühl mit dem Rocca Racing Simulator!
            </h1>
            <h2 class="subtitle is-4 has-text-light">
              Tauche ein in die Welt des Sim-Racings und werde eins mit deinem Rennwagen wie nie zuvor. Unser Motion-Simulator bietet dir ein intensives Rennabenteuer mit körperlichem Feedback, das bisher nur echte Rennfahrer auf der Strecke erleben konnten.
            </h2>
            <a href="/kontakt" class="button is-secondary">Jetzt Katalog und Angebot anfordern</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section mb-2">
    <div class="container fixed-grid has-2-cols has-1-cols-mobile">
      <h2 class="title has-text-centered">Die herausragenden Vorteile des Rocca Racing Simulator</h2>
        <div class="grid is-col-min-16 is-gap-3">

          <div class="cell">
            <div class="card">
              <header class="card-header">
                <h3 class="card-header-title is-centered title is-4">Realitätsnahe Erfahrung</h3>
              </header>
              <div class="card-content">
                <div class="content">
                  Unser Simulator ermöglicht es dir, die Welt des Motorsports auf eine völlig neue Art und Weise zu erleben. Du wirst die Geschwindigkeit spüren, die Kurven durchfahren und das Adrenalin pumpen fühlen, als wärst du wirklich auf der Rennstrecke.
                </div>
              </div>
            </div>
          </div>

          <div class="cell">
            <div class="card">
              <header class="card-header">
                <h3 class="card-header-title is-centered title is-4">Körperliches Feedback</h3>
              </header>
              <div class="card-content">
                <div class="content">
                  Mit unserem Motion-Simulator bekommst du körperliches Feedback, das normalerweise nur professionellen Rennfahrern vorbehalten ist. Du wirst Beschleunigung, Bremsen, Kurven und jede Unebenheit der Strecke hautnah spüren.
                </div>
              </div>
            </div>
          </div>

          <div class="cell">
            <div class="card">
              <header class="card-header">
                <h3 class="card-header-title is-centered title is-4">Strecken- und Fahrzeugvielfalt</h3>
              </header>
              <div class="card-content">
                <div class="content">
                  Unsere speziell abgestimmte Software ermöglicht es dir, eine Vielzahl von Rennstrecken und Rennwagen zu erleben. Egal, ob du auf legendären Rennstrecken fahren oder die neuesten Supersportwagen steuern möchtest, mit unserem Simulator kannst du all das und mehr erleben.
                </div>
              </div>
            </div>
          </div>

          <div class="cell">
            <div class="card">
              <header class="card-header">
                <h3 class="card-header-title is-centered title is-4">Flexibilität und Anpassbarkeit</h3>
              </header>
              <div class="card-content">
                <div class="content">
                  Wir bieten unseren Simulator in verschiedenen Ausbaustufen an, von einem „Ready-to-Race“ Set mit PC und allem Zubehör bis zu einem stationären Oberrahmen, den du später mit dem Motion-Modul aufrüsten kannst. Du kannst auch deine vorhandene Hardware wie PC, Monitore, Lenkrad und Pedale weiterhin nutzen.
                </div>
              </div>
            </div>
          </div>

          <div class="cell">
            <div class="card">
              <header class="card-header">
                <h3 class="card-header-title is-centered title is-4">Höchste Qualität</h3>
              </header>
              <div class="card-content">
                <div class="content">
                  Unser RocStahl Motion-Simulator wird in Bochum per Handarbeit hergestellt. Echtes Handwerk und Made in Germany. Der Stahlrahmen wird für die optimale Stabilität und langjähige Nutzung gemäß CE Norm geschweißt.
                </div>
              </div>
            </div>
          </div>

          <div class="cell">
            <div class="card">
              <header class="card-header">
                <h3 class="card-header-title is-centered title is-4">Sonderanfertigungen</h3>
              </header>
              <div class="card-content">
                <div class="content">
                  Wir verstehen, dass jeder Kunde einzigartige Bedürfnisse und Vorlieben hat. Daher bieten wir die Möglichkeit, Sonderwünsche und spezielle Anforderungen zu berücksichtigen. Lass uns wissen, was du brauchst, und wir werden unser Bestes tun, um es möglich zu machen.
                </div>
              </div>
            </div>
          </div>

          <div class="cell">
            <div class="card">
              <header class="card-header">
                <h3 class="card-header-title is-centered title is-4">G-Kräfte Simulation</h3>
              </header>
              <div class="card-content">
                <div class="content">
                  Unser Simulator verwendet zwei Freiheitsgrade (2-DOF), um Bewegungen in alle Richtungen zu simulieren. Du wirst echte G-Kräfte beim Beschleunigen, Bremsen und in Kurven erleben, was das Gefühl des echten Rennfahrens noch verstärkt.
                </div>
              </div>
            </div>
          </div>

          <div class="cell">
            <div class="card">
              <header class="card-header">
                <h3 class="card-header-title is-centered title is-4">Geräuscharmer Betrieb</h3>
              </header>
              <div class="card-content">
                <div class="content">
                  Unser Simulator erzeugt nur ein minimales Betriebsgeräusch, vergleichbar mit einer normalen Unterhaltung. Die Lautstärke des Spielsounds kann individuell angepasst werden, um das ultimative Renngefühl zu bieten.
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  
  <section class="section mb5">
    <div class="container">
      <div class="title is-primary has-text-centered">Wir ermöglichen realitätsnahen Motorsport in Rennsimulationen.</div>
      <div class="content has-text-black">Unsere Leidenschaft für den Motorsport und unsere technologische Expertise haben den RocStahl Motion-Simulator hervorgebracht.</div>
      <div class="content has-text-black">Wir nennen es „ROC MOTION XPERIENCE“, weil wir unsere Begeisterung für Rennsport und Innovation in jedes Detail unseres Simulators einfließen lassen.</div>
      <div class="content has-text-black">Tauche ein in die Welt des Sim-Racing wie nie zuvor und erlebe den RocStahl Motion-Simulator.</div>
      <button class="button is-primary has-text-light">Katalog anfordern</button>
    </div>
  </section>