---
layout: base.liquid
title: Products
---
  <section class="section mb-5">
    <div class="container">

      <h3 class="title">Rocca Racing Simluator</h3>

      <figure class="image">
        <img class="content-image" src="/img/rocca-racing-details.jpg" alt="Motorsport Rennen">
      </figure>

      <p class="is-size-5">Der RocStahl Motion-Simulator verfügt über verstellbare Halterungen für Lenkrad, Pedale, Schaltung und Monitore, um sich an deine Körpergröße anzupassen.</p>
      <p class="is-size-5">Der hochwertige Schalensitz mit Hosenträgergurten sorgt für optimalen Komfort und Sicherheit.</p>

      <div class="columns mt-3">
        <div class="column content is-6">
          <p class="title is-size-5">Ausstattungsdetails</p>
          <ul>
            <li>Stahlrahmen (geschweißt für optimale Stabilität) nach CE Norm, Handarbeit Made in Germany</li>
            <li>Anpassung an die Körpergröße durch schnell verstellbare Halterungen für Sitz, Lenkrad, Pedale, und Monitore</li>
            <li>Hochwertiger Schalenrennsitz</li>
            <li>2DOF-Motion durch hochwertige schnelle Elektromotoren</li>
            <li>Konfigurierbare, voreingestellte Software-Profile, für Fahrzeuge und Fahrer</li>
          </ul>
        </div>
        <div class="column is-6">
          <figure class="image">
            <img class="content-image" src="/img/rocca-racing-motor.jpg" alt="Motorsport Rennen">
          </figure>
        </div>
      </div>

      <div class="columns mt-3">
        <div class="column content is-6">
          <p class="title is-size-5">Optionen</p>
          <ul>
            <li>3-DOF Drift Modul optional</li>
            <li>Bass Shaker (Buttkicker) für realistische Vibration</li>
            <li>Zusätzliche Halterungen für Schaltung, Handbremse oder PC-Tastatur</li>
            <li>Hosenträgergurte für den Sitz</li>
          </ul>
        </div>
        <div class="column is-6">
          <figure class="image">
            <img class="content-image" src="/img/rocca-racing-stahlrahmen.jpg" alt="Motorsport Rennen">
          </figure>
        </div>
      </div>

      <div class="container mb-5">
        <h4 class="title">Zubehör von Drittherstellern</h4>
        <p class="is-size-5">High End Game-PC inklusive kabellose Tastatur und Maus (Monitore und Halterung/Ständer (Empfehlung: 3 Stück, Minimum 24“). VR-Brille, Lenkrad, Pedale, Schaltung, Handbremse, 5.1 Soundsystem oder Kopfhörer sowie Anpassungen an beim Kunden vorhandene Hardware und individuelle Wünsche sind gegen Aufpreis möglich.</p>
      </div>

      <p class="is-size-7">Zum Betrieb des Simulators werden zusätzliche Komponenten wie Computer, Bildschirme oder VR-Brille, Lenkrad, Pedalsystem und weitere optionale Hardware benötigt.</p>
      <p class="is-size-7">*) dies sind PC-Programme wie iRacing, Raceroom oder Assetto Corsa die solo oder über Internet in Ligen gespielt werden können.</p>
      <p class="is-size-7">**) als kostengünstiger Einstieg und Alternative zu am Markt vorhandenen Rigs, kann später mit dem Unterteil zum vollwertigen Motion-Simulator ausgebaut werden.</p>
      <p class="is-size-7">Der Simulator wird als geschweißte Stahlkonstruktion angeboten. Das Rig mit aufmontiertem Sitz und Halterung für Lenkrad und Pedale wird über ein bewegliches Gelenk mit der Unterkonstruktion verbunden. An der Unterkonstruktion befinden sich die elektromechanischen Bauteile zur Bewegung des Rigs sowie die elektronische Steuerungseinheit. </p>
      <p class="is-size-7">Die Software der Steuerungseinheit überträgt die Signale der Racing- Simulation in Bewegungen des Sitzsystems und erzeugt gemeinsam mit der bildlichen Darstellung an den Monitoren (ein bis drei Monitore oder eine VR-Brille) und dem Sound (über Kopfhörer) ein realitätsnahes Fahrgefühl. Die Anzahl der möglichen Bewegungsrichtungen (Degree of Freedom – DoF) kennzeichnet den Simulator. </p>
      <p class="is-size-7">Das aktuell vorhandene System beginnt als 2DoF-Motion-Simulator mit den konstruktiven Voraussetzungen einer späteren optionalen Erweiterung auf 3DoF.</p>
    </div>
  </section>